@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {

    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #dae3c4;
}


/* headings and logo */

#logo {
    text-decoration: none;
    font-size: 300%;
    float: left;
    position: fixed;
    top: 0;
    left: 10px;
    width: 50%;
    height: 90px;
}

h1, h2 {
    font-family: Abel, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525

}

.coverImg {
    margin: 0px;
    padding: 0px;
    width: 30px;
    width: 100%;
    height: 100%;
}

.contactTitle {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

 /*end of headings and logo */


/* navigation links */

#menu {

    font-size: 120%;
    letter-spacing: 4px;  
    color:#3a3a3a; 
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    height: 90px;
    background: radial-gradient(circle, #fccdb9, #f7a684 94%);
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 30px;

 }

#menu a {

    text-decoration: none;
    color: inherit;
 }

#menu, #logo{
    
    line-height: 75px;
    float: left;
 }

 #logo {
    float: left;
    list-style-type: none;
    margin-right: 30px;
 }

.active{
    border-bottom: 1px solid #3a3a3a;
  }

  #welcome {
    text-align: center;
    color: #252525;
    margin-top: 0;
    padding: 0 ;
  }
  /* end of navigation links */


/* plants */
#second-webpage {
   
    height: 700px;
    width: 100%;
    background: url(../images/1500\ plants\ floor\ window.jpg) no-repeat center;
    background-color: #fbfbf0;
  }

  .text {
    letter-spacing: 2px;
    font-size: 21px;
    margin: 20px 200px;
    line-height: 1.9;
    text-align: left;
    
  }

  .plants h2 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;

  }

  .citation {
    font-size: 30px;
    font-weight: bold;
    margin: 90px 250px;
  }

  .mainPlants {
    border-radius: 10px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.plants1 {
    display: block;
    margin-left: 25px; 
    margin-right: auto;  
    justify-content: left;
    width: 100%;
    height: 400px; 
    float: right;
    padding: 10px;
    background-color: rgba 0 0 0 .6;

   }


div p {
     
    font-size: 20px;
    letter-spacing: 1.6px;
    text-align: center;
                     
    }  

 /* end of plants */   



/* footer */

footer{
    height: 150px;
    margin-top: 25px;
    padding: 25px, 0;
    
}

.social-channels {
    text-align: center;
        
}

.social-channels li{
    display:inline; 
    font-size: 150%;
    margin: 25px;
    padding: 30px; 
    text-decoration: none;
    
}

.fa-brands fa-square-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-square-facebook,
.fa-brands {
    color: #bd734b;
    border-bottom: none;
}
 
.fa-brands:hover fa-square-facebook,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-square-facebook:hover,
.fa-square-facebook:hover,
.fa-brands:hover {
    transform: scale(1.5);
}

/* gallery */

.wrap {
    margin: 0, auto;
    border: 2px solid #ff000000;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40p 20px 0 20px;

 }

.container .heading {
    width: 50%;
    padding-bottom: 50px;

}

.container .heading h2 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222; 

}

.container .heading h2 span {
    font-weight: 100;
}


.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* end of gallery */

/* contact form */

.input [type=text], select, textarea {

    width: 100%;
    padding: 12px;
    border: 1px solid #faa386;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
 
}

.input[type=submit] {
    background-color: #f37e57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input [type=submit]:hover {
    background-color:#f67347;
      
}

.form {
    border-radius: 5px;
    background-color: #faa386a7;
    padding: 20px;
    width: 600px;
    margin: 20px auto;

.