@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {

    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: black;
    background-color:#fff
 
}

/* headings and logo */

h1, h2 {
    font-family: Abel, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color:black;
    
}

/* --   verificar
#logo h1 {
    float: left;
    font-size: 200%;
    left: 20px;
    color: red;            
}

--*/



header h2{
    text-transform: none;
    letter-spacing: 1px;
    font-size: 32px;
    text-align: center;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;  
    color:black; 
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo{
    line-height: 75px;
}

#menu, a {
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}


#plants-white-wall {
        background: url(../images/1500\ Capa\ Plants\ in\ a\ white\ wall\ raw\ pixel\ CAPA-\ Copy.jpg) no-repeat center center;
       height: 800px;
       width: 100%;

}

#welcome {
    text-align: center;
    color: black;
}

*/ footer */

footer{
    height: 150px;
    margin-top: 25px;
    padding: 25px, 0;
    
}

.social-channels {
    text-align: center;
        
}

.social-channels li{
    display:inline; 
    font-size: 150%;
    margin: 25px;
    padding: 30px; 
    
}
 
/* plants */


img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    border-style:solid

}


div p {
     color: black;
    background-color: #fff;
    font-size: 20px;
    letter-spacing: 1.6px;
    border: solid;
    
        
    }